blackbox.egg-info/
__pycache__/
blackbox/__pycache__/
blackbox/analytical_functions/__pycache__
blackbox/physics_models/__pycache__
blackbox/base/__pycache__
blackbox/docs/build
examples/training
examples/training_single
examples/__pycache__
examples/training_data
examples/testing_data
examples/plot.py
examples/forrester
examples/aero_training_single
examples/aero_training_multi
examples/mach/multi
examples/mach/single
examples/onera/multi
examples/onera/single
examples/output
examples/sellar
examples/forrester
examples/airfoil_cst/multi
examples/airfoil_cst/output
examples/airfoil_cst_multipoint/output
examples/airfoil
examples/analytical
examples/onera
examples/mach
examples/aerostruct
examples/airfoil_ffd/output
