blackbox.egg-info/
__pycache__/
blackbox/__pycache__/
blackbox/analytical_functions/__pycache__
blackbox/physics_models/__pycache__
blackbox/physics_models/airfoil/__pycache__
blackbox/base/__pycache__
blackbox/utils/__pycache__
docs/build
examples/__pycache__
examples/airfoil_cst/output
examples/airfoil_cst_multipoint/output
examples/airfoil_ffd/output
examples/simple_wing/output
examples/crm/output
examples/sampling_plan/output
