datgen.egg-info/
datgen/__pycache__/
datgen/analytical_functions/__pycache__
datgen/physics_models/__pycache__
examples/training
examples/training_single
examples/output
examples/__pycache__
examples/training_data
examples/testing_data
examples/plot.py
examples/forrester
examples/aero_training_single
examples/aero_training_multi
examples/mach/multi
examples/mach/single
examples/onera/multi
examples/onera/single
